<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style4.css') }}" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Show updated random number</title>
</head>
 
<body style="background-color: rgb(186, 209, 231)">
  <div class="text-center" role="group" aria-label="...">
    <h1 class="text-success" id='numbers'>000000</h1>
    <a id='b1' class="btn btn-primary"><span class="glyphicon glyphicon-random"></span> Random numbers</a>
  </div>
</body>
 
<script> 
  $.ajaxSetup({ cache: false });
  $(document).ready(function () {
    {
      $.getJSON('/stuff', function (dat) {
        $("#numbers").text(dat['val_random']);
      });
      var interval = setTimeout(update_values, 1000);
    });
  });
</script>
</html>
