//html
<html>
<head>
 <title>Monitor topics</title>
 
 <p> <h1>Monitor topics</h1>
 </head>
 <body>
 {% block body %}
 {% if success %}
 
 {% endif %}
 {% endblock %}
<a href="{{ url_for('index') }}">Home</a>
<div>

  		{% for i in data_dict %}
  		
          
          <p><strong> ID: {{i.ID}}  Topic: {{i.Topic}}</strong> </p>
            
			<p>Date: {{i.Date }}</p>
			<p>Event occured: {{ i.Message}}</p>

		{% endfor %}

 </div>
<button> <a href="{{ url_for('.downloadFile') }}">  Download </a></button>
      <a href="{{ url_for('.downloadFile') }}">Download</a>
</body>

</html>
