
<html>
<head>
 <title>Monitor topics</title>
 
 <p> <h1>Monitor topics</h1>
 </head>
 <body>
 <div>
 <p> Kafka server status:  <a style="color:blue"> {{server_status}} </a> </p>
 <p> E-Com server status:  <a style="color:blue"> {{e_server}} </a></p>
 </div>
 {% block body %}
 {% if success %}
 
 {% endif %}
 {% endblock %}
 
 <p> Choose a topic to consume </p> 
 <p style ="color:green"> {{success}} </p>
   <form class="form" method="post" action = "/senddata"> 
   <select name="topic_name" id="topic_name">
  <option value="cart_topic">cart_topic</option>
  <option value="user_logon">user_logon</option>
  <option value="user_creation">user_creation</option>
  <option value="user_logout">user_logout</option>
  <option value="feedback_topic">feedback_topic</option>
   <option value="error_login">error_login</option>
   <option value="search_topic">search_topic</option>
  
</select><input type="submit" value="Submit">


</form>
   <a href ="{{ url_for('getdata') }}"> View result </a>
   


 

      
</body>

</html>
