<html>
<head>
 <title>Additional cart details</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


 <style>
.Main
{
	float:center;
	width:50%;
	margin:auto;
	justify-content:center;
}

a
{
	color:cyan;
	text-decoration: none;
	font-size:20px;
}
.Main table
{
	color:white;
	width:100%;
	text-align:center;
}
.TopicData
{
	width:100%;
	border-collapse: collapse;
}
.TopicData td , th
{
	border: 1px solid white;

}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
 </style>
 </head>
 <body style="background-color:#212123">

<a href="{{ url_for('index') }}"> < Back</a>
<div class="Main">
	<table>
		<tr>
			<td>
				<h1>Cart Rate</h1>
			</td>
		</tr>
		<tr>
			<td>
				<table class="TopicData">
					
					<tr>
						<th>
            item name
						</th>
						<th>
              Cart rate 
						</th>
					</tr>
					{% for i in cart_list %}
					<tr>
						<td>
							<p>{{i.Item_name}}</p>
						</td>
						<td>
							<p>{{i.Cart_rate}}</p>
						</td>

					</tr>
					<!-- {{i}} -->
					{% endfor %}
				</table>
		
			</br>
			</br>
			</td>
		</tr>
		<tr>
			<td>
				</br>
				</br>


				<button class="bn30"> <a href="{{ url_for('.downloadFile') }}">  Download </a> </button>
			</td>
		</tr>
	</table>
		  

  		

 </div>

      
</body>

</html>
