
<html>
<head>

 <title>Topic Logs</title>
 
 <p> <h1>Monitor topics</h1>
 
 </head>
 <body>
 {% block body %}
 {% if success %}
 
 {% endif %}
 {% endblock %}
<button> <a href="{{ url_for('index') }}">Home</a> </button>
<h2> Event logs </h2>
<div>

  		{% for i in data_dict %}
  		
          
          <p> ID: {{i.ID}}  Topic: {{i.Topic}} </p>
            
			<p>Email : {{i.Email}} Date: {{i.Date }} </p>
			<p><strong>Event occured: {{ i.Activity}} </strong></p>

		{% endfor %}

 </div>
<button> <a href="{{ url_for('.downloadFile') }}">  Download </a> </button>
      <!-- <a href="{{ url_for('.downloadFile') }}">Download</a> -->
</body>

</html>
