<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Unauthorized Access:: Please Login</title>
 		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 		<div>
			<img class ="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/home/">Home</a>
                    </li>
                    <li role="presentation"><a href="/loginpage">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">E-com App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; FYP 2021</p>
        </footer>
 
    </div>
</body>
 
</html>
