<html>
	<head>
	<title> Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
	</head>
	<body>
		<div>
			<img class ="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
		            <nav>
                <ul class="nav nav-pills pull-right">

                                <a href="/loginpage">Sign in</a>
                
               <br>
                    <a href="/profilePage">Profile Page</a>
                </ul>
            </nav>
		<br>
		
		<div class="Search">
		
        <form class="example" method="post" action="/search" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Enter product name" name="inputSearch" id="inputSearch">
            <button type="submit">Search <i class="fa fa-search"></i>
            </button>
        </form>
		</div>
		<br>
		<br>
		<div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Message us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
		</div>
		</br>
		<div class="Main">
			<table>
				<tr colspan="3">
					<th>
						<p>Products</p>
					</th>
				</tr>
				<tr>
					<td>
						<div class="OFScroll">
							<table>
								<tr>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1001.jpg') }}" alt="Product 1">
											<figcaption>Aluminium Foil </figcaption>
										</figure>
									</td>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1002.jpg') }}" alt="Product 2">
											<figcaption>Apple</figcaption>
										</figure>
									</td>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1003.jpg') }}" alt="Product 3">
											<figcaption>Bacon</figcaption>
										</figure>
									</td>
								</tr>
								<tr>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1004.jpg') }}" alt="Product 4">
											<figcaption>Custard Waffle Rolls</figcaption>
										</figure>
									</td>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1005.jpg') }}" alt="Product 5">
											<figcaption>Green Onion Nougat</figcaption>
										</figure>
									</td>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1006.jpg') }}" alt="Product 6">
											<figcaption>Oyster Potato Chips</figcaption>
										</figure>
									</td>
								</tr>
								<tr>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1007.jpg') }}" alt="Product 7">
											<figcaption>Saint Paul Q Cake</figcaption>
										</figure>
									</td>
									<td>
										<figure>
											<img src="{{ url_for('static', filename='1008.jpg') }}" alt="Product 8">
											<figcaption>Wan Wan Boring Party</figcaption>
										</figure>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		</br>
		<div class="Main">
			<table>
				<tr>
					<th>
						<p> About us </p>
					</th>
				</tr>
				<tr>
					<td>
						<p>
						We aim to serve the best product and service to our customers!
						</p>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td class ="MOC" rowspan="2">
						<p>Members of This Company</>
					</td>
					<td>
						<p></p>
					</td>
				</tr>
				<tr>
					<td>
						<p></p>
					</td>
				</tr>
			</table>
		</div>
		</br>
		<div class="Footer">
			<table>
				<tr>
					<td>
						<a href="https://www.facebook.com/SGGIFTS65" target="_blank">
						<img class="Icon" src="{{ url_for('static', filename='Fb-Logo.png') }}" alt="Facebook Logo">
						</a>
					</td>
					<td>
						<a href="https://www.instagram.com/sggifts_/" target="_blank">
						<img class="Icon" src="{{ url_for('static', filename='Insta-Logo.png') }}" alt="Instagram Logo">
						</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
