

<!doctype html>
<!-- <title>My Application</title> -->

<div class ="msg" align = "center">

{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
      <br><p style="color:blue">{{ message }}</p>
    {% endfor %}
    
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}



</div>
