<!DOCTYPE html>
<html>
<head>
<title> Sign in </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <center>
  <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </center>
</div>
       </div>
    {% endfor %}
    
    
    
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}
</div>



	

		    <script src="/static/jquery-1.11.2.js"></script>
		    
		    <script>
		    $(function(){
			$('#btnSignIn').click(function(){
		
			$.ajax({
			url: '/validateLogin',
			data: $('form').serialize(),
			type: 'POST',
			success: function(response){
				console.log(response);
			},
			error: function(error){
				console.log(error);
			}
		});
	});
});
		    
		    </script>
	</head>
	<body>
		
		<div>
			<img class="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
		</br>
		
		<h3 class="Title"><b>Login</b></h3>
		
		</br>
		<div class="ContMain" style="border-style: outset;">
			<table>
				<tr>
					<td class="AlignR">
					
					</td>
					<td>
					<form class="form-signin" action="/validateLogin" method="post">
        <label for="inputEmail" class="sr-only"></label>
        <input type="email" name="inputEmail" id="inputEmail" value="{{request.form.inputEmail}}" class="form-control" placeholder="Email address" required autofocus>
					</td>
				</tr>
				<tr>
					<td class="AlignR">
						
					</td>
					<td>
						<label for="inputPassword" class="sr-only"></label>
        <input type="password" name="inputPassword" id="inputPassword" value="{{request.form.inputPassword}}" class="form-control" placeholder="Password" required>
					</td>
				</tr>
				<tr>
					<td colspan="2"> 

							<button id="btnSignIn" class="UserBtn" type="submit">Sign in</button>
						
					</td>
					</tr>
					<br>
					<tr>
					<td colspan="2"> 	
					<a href="{{ url_for('showSignUp') }}">
					<input type="button" name="BtnReg" id="BtnReg" value ="Register" class="UserBtn"></a>
						</td>
						</tr>
				</form>
				

				
			</table>
			<div align="right">
		<a href="{{ url_for('home') }}"> Continue without login</a>
		</div>
			
		</div>
		<div class = "Error" align = "center">
				{% if error %}
				<p style="color:red"><strong>Error: </strong>{{ error }}</p>
			  {% endif %}
		</div>
	</body>
</html>

