<!DOCTYPE html>
<html>
<head>
<title> Sign in </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <center>
  <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </center>
</div>
       </div>
    {% endfor %}
    
    
    
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}
</div>




	</head>
	<body>
		

		</br>
		
		<h3 class="Title"><b>Monitor application Login</b></h3>
		
		</br>
		<div class="ContMain" style="border-style: outset;">
			<table>
				<tr>
					<td class="AlignR">
					
					</td>
					<td>
					<form class="form-signin" action="/validateLogin" method="post">
        <label for="username" class="sr-only"></label>
        <input type="text" name="user_name" id="user_name" value="{{request.form.user_name}}" class="form-control" placeholder="User name" required autofocus>
					</td>
				</tr>
				<tr>
					<td class="AlignR">
						
					</td>
					<td>
						<label for="Password" class="sr-only"></label>
        <input type="password" name="password" id="password" value="{{request.form.password}}" class="form-control" placeholder="Password" required>
					</td>
				</tr>
				<tr>
					<td colspan="2"> 

							<button id="btnSignIn" class="UserBtn" type="submit">Sign in</button>
						
					</td>
					</tr>
					<br>
					<tr>

				</form>
				

				
			</table>

			
		</div>
		<div class = "Error" align = "center">
				{% if error %}
				<p style="color:red"><strong>Error: </strong>{{ error }}</p>
			  {% endif %}
		</div>
	</body>
</html>

