<html>
<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
	</head>
	<body>
		<div>
			<img class ="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
	            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/profilePage">Profile Page</a>
                    </li>
                </ul>
            </nav>
		<br>
		<div class="Search">
			<input type="text" id="SearchTxt"> 
			<input type="button" value="Search" id="SearchBtn">
		</div>
		<br>
		<br>
		<div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('product') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
			<table class="SC">
				<tr>
					<td>
						<a href ="/cartpage/">
							<button class="SCBtn">
							</button>
						</a>
					</td>
					<td>
						<input type="button" value="0" disabled  class="Count">
					</td>
				</tr>
			</table>
		</div>
		</br>
		<div class="Main">
			<table>
				<tr>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P1.png') }}" alt="Product 1">
							<figcaption>Dark Choc Crunchco</figcaption>
						</figure>
						<button class="OOS" id="BtnP1">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P2.png') }}" alt="Product 2">
							<figcaption>Chocolate Puffs</figcaption>
						</figure>
						<button class="OOS" id="BtnP2">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P3.png') }}" alt="Product 3">
							<figcaption>Coffee Waffle Rolls</figcaption>
						</figure>
						<button class="OOS" id="BtnP3">Add To Cart</button>
					</td>
				</tr>
				<tr>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P4.png') }}" alt="Product 4">
							<figcaption>Custard Waffle Rolls</figcaption>
						</figure>
						<button class="OOS" id="BtnP4">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P5.png') }}" alt="Product 5">
							<figcaption>Green Onion Nougat</figcaption>
						</figure>
						<button class="OOS" id="BtnP5">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P6.png') }}" alt="Product 6">
							<figcaption>Oyster Potato Chips</figcaption>
						</figure>
						<button class="OOS" id="BtnP6">Add To Cart</button>
					</td>
				</tr>
				<tr>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P7.png') }}" alt="Product 7">
							<figcaption>Saint Paul Q Cake</figcaption>
						</figure>
						<button class="OOS" id="BtnP7">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P7.png') }}" alt="Product 8">
							<figcaption>Wan Wan Boring Party</figcaption>
						</figure>
						<button class="OOS" id="BtnP8">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P9.png') }}" alt="Product 9">
							<figcaption>Pea Cracker</figcaption>
						</figure>
						<button class="OOS" id="BtnP9">Add To Cart</button>
					</td>
				</tr>
				<tr>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P10.png') }}" alt="Product 10">
							<figcaption>Mango Jelly</figcaption>
						</figure>
						<button class="OOS" id="BtnP10">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P11.png') }}" alt="Product 11">
							<figcaption>Sun Biscuit</figcaption>
						</figure>
						<button class="OOS" id="BtnP11">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P12.png') }}" alt="Product 12">
							<figcaption>Dried Cod Fish Strips</figcaption>
						</figure>
						<button class="OOS" id="BtnP12">Add To Cart</button>
					</td>
				</tr>
				<tr>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P13.png') }}" alt="Product 13">
							<figcaption>Seaweed Cracker</figcaption>
						</figure>
						<button class="OOS" id="BtnP13">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P14.png') }}" alt="Product 14">
							<figcaption>Wan Wan Small Crispy</figcaption>
						</figure>
						<button class="OOS" id="BtnP14">Add To Cart</button>
					</td>
					<td>
						<figure class="thumbnail">
							<img src="{{ url_for('static', filename='P15.png') }}" alt="Product 15">
							<figcaption>Chia Te Pineapple Tart</figcaption>
						</figure>
						<button class="OOS" id="BtnP15">Add To Cart</button>
					</td>
				</tr>
			</table>
		</div>
		</br>
		<div class="Footer">
			<table>
				<tr>
					<td>
						<a href="https://www.facebook.com/SGGIFTS65" target="_blank">
						<img class="Icon" src="{{ url_for('static', filename='Fb-Logo.png') }}" alt="Facebook Logo">
						</a>
					</td>
					<td>
						<a href="https://www.instagram.com/sggifts_/" target="_blank">
						<img class="Icon" src="{{ url_for('static', filename='Insta-Logo.png') }}" alt="Instagram Logo">
						</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
