<!DOCTYPE html>


<html lang="en">
 
<head>
    <title>Profile page</title>
 
 	
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<div>
			<img class ="Banner" src="{{ url_for('static',filename='Banner.png') }}" alt="Banner">
		</div>
			<div class ="msg" align = "center">
			{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> {{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
       </div>
    {% endfor %}
    
    
    
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
		</div>

 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            
                
                   <a >Logged in as {{ user}}</a>
                    <br>
                    <a href="/logout">Logout</a>
                    
                   
                
            
            
        </div>
        <div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
		</div>
 <div style=" margin:auto;justify-content:left; width:100%; display:flex; float:left;">
				<div class="ContMain"style="border-style:outset; width:15%;">
					<table style="width=100%; text-align:center">
					
						<tr>
							<td colspan="2">
								<h3><i> Profile </i></h3>
							</td>
						</tr>
						<tr>
							<td>
								<figure class="thumbnail">
									<img src="{{ url_for('static', filename= 'profilepic.jpeg')}}" width="200" height="300">
									<figcaption>{{user}}</figcaption>
								</figure>
							</td>
						</tr>
					</table>
				</div>
				<div class="ContMain" style="border-style:outset; width:85%;  height:100%">
								</table>

					<table style="height:300px; width:500px">
	
            
						<tr>
							<td>
								<label>Email : {{user}}</label>
							</td>
							<td style="text-align:left">
								<label>  </label>
							</td>
						</tr>
						<tr>
							<td>
								<label>Name : {{ name }}</label>
							</td>
							<td style="text-align:left">
								
							</td>
						</tr>
						<tr>
						<td>
						<label>  Hello {{ name }},! Welcome to your profile page!</label>
						</tr>
						</td>
						<td style="text-align:left">
						
						
						
						

			</div>
		</div>
        <div>
        		<center>
            <a href="/cart">Go to cart</a> 
            
            <a href="/profilePage/myfeedback">My past feedback</a>
            <p> <a href="/profilePage/orderhistory">Order history</a> </p>
            </center>

            
            <span class="category">{{ user.user_email }}</span>

            
            
           <!-- <h1>Hello  posts.index !</h1>-->
            
            
 			
 			
        </div>
 
 
        <footer class="footer">
            <p></p>
        </footer>
 
    </div>
</body>
 
</html>

