
<!DOCTYPE html>
<html>
    <head>
    <title> Search Results </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/search.css">
    </head>
    <body>
    		<div>
			<img class ="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
    		<div>
			<table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>
            
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
		</div>
        <h1><center>Search Results </center></h1>
        <form class="example" method="post" action="/search" 
         style="margin:auto;max-width:600px">
         
         
            <input type="text" placeholder="Enter product name" name="inputSearch" value = "{{searchtext}}">
           
            
            <button type="submit">Search <i class="fa fa-search"></i>
            </button>
            
        </form>
         {% block body %}
 {% for message in get_flashed_messages() %}
 
 <strong> {{ message }}</strong>
 {% endfor %}
 {% endblock %}
<div class = "Error" align = "center">
 				{% if error %}
				<p style="color:red"><strong> </strong>{{ error }}</p>
			  {% endif %}
			  </div>
 
        
        <p></p>
        <center>
        {% for item in data %}
        <div class="container">
       <div>
        
     <a href="{{ url_for('products') }}">
     <img src="{{ url_for('static', filename= item[3] )}}" width="300" height="300">
     </a>
     
         </div>
            <tr>
            <td>

           
                 <p> Item_code: {{item[1]}} </p>
                 <p><strong>{{item[2]}} </strong></p>
                
                
                Price: ${{item[4]}}
                
                
                </td>
                </br>
            </tr>
            </div>
        {% endfor %}
        </center>
    </body>
</html>
