<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
<html lang="en">
  <head>
  <script src="/static/jquery-1.11.2.js"></script>
 		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
<!-- alert('Account successfully created');window.location.href="loginpage"; -->
<script>
$(function() {
    $('#btnSignUp').click(function() {
 
        $.ajax({
            url: '/signUp',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
                
                
                
                
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});  

</script>
    <title>Sign up for E-Commerce website</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    
  </head>
 
  <body>
 		<div>
			<img class="Banner" src="{{ url_for('static', filename='Banner.png') }}" alt="Banner">
		</div>
    <div class="container">
      <div class="header">
        <table class="NavBar">
				<tr>
					<td>
           			 <a href="{{ url_for('home') }}">Home</a>        
						
					</td>
					<td>
						<a href="{{ url_for('products') }}">Products</a>
					</td>
					<td>
						<a href="{{ url_for('contact') }}">Contact Us</a>
					</td>
					<td>
					<a href="{{ url_for('showSignUp') }}">Sign Up</a>
					</td>
				</tr>
			</table>
        <!-- <h3 class="text-muted">E-com Website</h3> -->
      </div>
 
	<div class="ContMain">
	 
		
		 
        <h1 align="center">Registration</h1>

			
        <form class="form-signup" action="/signUp" method="post">
        <table>
        <tr>
        	<td class="AlignR">
        
        	
        	</td>
        	<td>
        <input type="name" name="inputName" id="inputName" class="UserTxtF" placeholder="Name" required>
        
			</td>
		</tr>
		
        <tr>
       	 	<td class="AlignR">
        
        	</td>
        	<td>
        <input type="email" name="inputEmail" id="inputEmail" class="UserTxtF" placeholder="Email address" required>
        
			</td>
		</tr>
        <tr>
        	<td class="AlignR">
        
        	</td>
        	<td>
        <input type="password" name="inputPassword" id="inputPassword" class="UserTxtF" placeholder="Password" required>
 			</td>
		</tr>
		
		
        <tr>
        	<td colspan="2"> 
        <button id="btnSignUp" class="UserBtn" type="submit"> Sign up </button>
 			</td>
		</tr>
        
      </form>
      </table>
      </div>
      		
  {% if error %}
    <p style="color:red"> <strong>Error:</strong> {{ error }}
  {% endif %}
 
       
 
      <footer class="footer">
      
        <p align = "left"> &copy; Company 2021</p>
      </footer>
 
    </div>


</body>
</html>

{% endblock %}
